@page
@{
    ViewData["Title"] = "Contacts";
}
<h3>@ViewData["Title"]</h3>

<address>
    Mykolas Medžionis<br />
    +370 650 92459<br />
    <a href="mailto:mykolas.medzionis@gmail.com">mykolas.medzionis@gmail.com</a><br /><br />
    <a href="https://www.youtube.com/watch?v=ePg1tbia9Bg" target="_blank">Fake Tales of San Francisco</a>
</address>